# PHPStorm
.idea

.php_cs
.php_cs.cache

composer.phar
composer.lock
vendor/

cache/*
uploads/*
uploaded/*
!cache/.htaccess
!cache/index.html
!uploads/.htaccess
!uploads/index.html
!uploaded/.htaccess
!uploaded/index.html

img/avatars/*
!img/avatars/index.html
img/thumb/*
!img/thumb/err_access.gif
!img/thumb/err_none.gif
!img/thumb/err_thumb.gif
!img/thumb/index.html


include/template/wap/xwab/cache/*
include/template/wap/xwab/compiled/*
!include/template/wap/xwab/cache/index.html
!include/template/wap/xwab/compiled/index.html

include/template/wap/wap/cache/*
include/template/wap/wap/compiled/*
!include/template/wap/wap/cache/index.html
!include/template/wap/wap/compiled/index.html

include/template/wap/new_line/cache/*
include/template/wap/new_line/compiled/*
!include/template/wap/new_line/cache/index.html
!include/template/wap/new_line/compiled/index.html
