html {
height:100%;
max-height:100%;
padding:0;
margin:0;
border:0;
overflow: hidden;
}
body {
height:100%; max-height:100%;
overflow:hidden; padding:0; margin:0; border:0;
FONT-SIZE: 11px; LINE-HEIGHT: normal;
background-color:#333;
}
.pun {FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; color:#888;}
.pun INPUT, .pun SELECT, .pun TEXTAREA, .pun OPTGROUP {FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; color:#000;}
.pun {FONT-SIZE: 11px; LINE-HEIGHT: normal}
.pun TABLE, .pun INPUT, .pun SELECT, .pun OPTGROUP, .pun TEXTAREA, DIV.postmsg P.postedit {FONT-SIZE: 1em}

.pun TABLE, .pun DIV, .pun FORM, .pun P, .pun H1, .pun H2, .pun H3,
.pun H4, .pun PRE, .pun BLOCKQUOTE, .pun UL, .pun OL, .pun LI, .pun DL,
.pun DT, .pun DD, .pun TH, .pun TD, .pun FIELDSET, .pun IMG {
MARGIN: 0px;
PADDING: 0px;
FONT-WEIGHT: normal;
LIST-STYLE: none;
}
.pun IMG {BORDER: none}
.pun INPUT, .pun SELECT, .pun TEXTAREA, .pun OPTGROUP {MARGIN: 0}
.pun H1 {PADDING: 3px 0px 0px 0}
DIV.block DIV.inbox, DIV.blockmenu DIV.inbox {PADDING: 3px 6px}
.pun P, .pun UL, .pun DL, DIV.blockmenu LI, .pun LABEL {PADDING: 3px 0}
DIV.box, .pun TD, .pun TH, .pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {
BORDER-STYLE: solid;
BORDER-WIDTH: 1px
}
.pun .clearer, .pun .clearb {CLEAR: both}
.pun A:link, .pun A:visited {COLOR: #fff; text-decoration: none; font-weight: bold;}
.pun A:hover {COLOR: #ff8c00}
.pun H2 {PADDING: 4px 6px}
.pun H2, .pun H4 {FONT-SIZE: 1em}
.pun H2 A:link, .pun H2 A:visited {color:#8E201B}
.pun H2 A:hover {COLOR: #8E201B; text-decoration: underline;}
.pun H3 {FONT-SIZE: 1.1em}
.pun H2 {BACKGROUND-COLOR: #b3b3b3; COLOR: #000}
#brdheader {
position:absolute;
margin:0; top:0; left:0;
display:block; width:100%; height:50px;
z-index:5;
overflow:hidden;
BACKGROUND-COLOR: #7D7D7D;
color:#ccc;
}
#brdfooter {position:absolute; margin:0; bottom:0; left:0; display:block; width:100%; height:50px; z-index:5; background:#333;}
#content {overflow:auto; position:absolute; z-index:3; top:50px; bottom:50px; left:245px; right:0; background:#b3b3b3; color:#000;}
* html #content {top:0; left:0; right:0; bottom:0; height:100%; max-height:100%; width:100%; overflow:auto; position:absolute; z-index:3; border-top:50px solid #fff; border-bottom:50px solid #fff; border-left:245px solid #fff;}
#left {position:absolute; left:0; top:50px; bottom:50px; width:245px; z-index:4; overflow:auto;
BACKGROUND-COLOR: #8E8E8E;
background-position: 0 -50px; background-repeat:no-repeat;
}
* html #left {height:100%; top:0; bottom:0; border-top:50px solid #fff; border-bottom:50px solid #fff; }
.conr {FLOAT: right; TEXT-ALIGN: right; CLEAR: right; WIDTH: 40%;}
.conl {FLOAT: left; WIDTH: 230px; OVERFLOW: hidden; WHITE-SPACE: nowrap;}
#brdtitle H1 {FONT-SIZE: 1.4em}
#brdtitle H1 {FONT-WEIGHT: bold}
#brdtitle P {PADDING-TOP: 0px}
#brdheader DIV.box {BORDER-STYLE: none}
#brdfooter DIV.box {BORDER-STYLE: none}
#brdfooter P {PADDING: 0}
DIV#top_link {position:absolute; display: block; left:245px; top:30px; color: #bbb; PADDING: 0 6px}
#top_link UL LI {LIST-STYLE: none; DISPLAY: inline; }
#top_link A {font-weight: bold; text-decoration: none; color: #fff;}
#top_link A:hover {color: #ff8c00;}
#brdmenu {position:absolute; display: inline; left:245px; top:0; border-bottom:1px solid #bbb; padding: 0 6px; }
#brdmenu UL LI {LIST-STYLE: none; DISPLAY: inline; }
#brdmenu A:link, #brdmenu A:visited {TEXT-DECORATION: none; color: #bbb; padding-bottom:3px; border-bottom:1px solid #bbb;}
#brdmenu A:hover {TEXT-DECORATION: none; border-bottom:4px solid #bbb; padding-bottom:0;}
#brdmenu LI {MARGIN-RIGHT: 12px;}
#quickjump {margin-left:245px;}
UL.topic {
PADDING: 5px 0 10px 15px;
Z-INDEX: 10;
MARGIN: 10px 0 10px 7px;
LIST-STYLE-TYPE: none;
POSITION: absolute;
}
UL.topic LI {
DISPLAY: inline; FLOAT: left;
MARGIN: 5px;
WIDTH: 52px; HEIGHT: 52px
}
UL.topic LI A {
DISPLAY: block; FLOAT: left; WIDTH: 52px; CURSOR: default; HEIGHT: 52px; TEXT-DECORATION: none
}
UL.topic LI A IMG {
BORDER: #666 1px solid; DISPLAY: block; WIDTH: 50px; HEIGHT: 50px
}
UL.topic LI A:hover {
WHITE-SPACE: normal; POSITION: relative
}
UL.topic LI A.vert:hover IMG {
BORDER: #ff8c00 1px solid; LEFT: -25px; WIDTH: 100px; POSITION: absolute; TOP: -20px; HEIGHT: 100px; }

UL.topic LI A.hor:hover IMG {
BORDER: #ff8c00 1px solid; LEFT: -25px; WIDTH: 100px; POSITION: absolute; TOP: -20px; HEIGHT: 100px; }

TABLE#image_preview, #image_preview TD {height:90%; width:100%; TEXT-ALIGN: center; vertical-align: middle; border: 0; padding: 0; margin: 0; border-collapse: collapse;}
IMG#photo {margin: 0; padding: 0;}
#color_palette A {TEXT-DECORATION: none; padding: 0; margin: 0;}