body{background-color:#000;color:#fff;margin:2px auto;max-width:90%;font-size:small;}
th,td,p{color:#fff;font-family:Lucida Grande,Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
a:link,a:active,a:visited{color:#f90;text-decoration:none;}
a:hover{text-decoration:none;color:#ff0;background-color:#900;border:1px solid #f90;padding:1px;position:relative;top:1px; }
hr{border:1px dotted #c00;}
textarea{width:92%;}
table{background-color:#333;width:98%;border-collapse:collapse;border: 1px solid #003;}
th,td{border: 1px solid #003;}
.msg td{border:none;}
code{font-size:9pt;color:#000;background-color:#f0f0f0;display:block;border:1px dotted #003;width:98%;}
.bbu{text-decoration:underline;}
.bbs{text-decoration:line-through;}
.block{margin:1pt;}
.red{color:#d00;font-style:italic;}
.green{color:#0a0;font-style:italic;}
form{color:#ff0;background-color:#000;border:1px dotted #f90;padding:1pt 1pt 2pt 1pt;}
.in{color:#fc0;font-weight:bold;font-size:11px;padding:2pt 0 0 0;}
a.in{background:url('xwab/button.gif');padding:5pt;color:#900;margin:50%;}
.con{font-size:11px;padding:3pt 0 3pt 2pt;background-color:#000;}
a.con{color:#903;border:1px dotted #903;background:#fc6;margin:2pt;padding:0;}
.incqbox{font-size:10px;background:url('xwab/fon.gif');background-color:#900;}
.navlinks,.copy{text-align:center;color:#333;font-size:smaller;}
.box{background:url('xwab/fon.gif');background-color:#900;border-bottom:3px double #600;border-left:3px double #c00;border-top:3px double #c00;border-right:3px double #600;}
.msg{border-bottom:1px solid #c30;border-left:1px dotted #c30;border-right:1px dotted #c30;width:98%;}
.msg2{background-color:#111;width:auto;}
.attach_list{background-color:#555;width:25%;}
.input{font-size:9pt;padding:0 0 0 1%;}
.blocktable{text-align:center;font-size:9pt;margin:1%;}
.p_cnt table td{border-right:1px solid #777;background-color:#f0f0f0;color:#000;width:99%;font-style:normal;}
.scrollbox{width:100%;overflow:auto;white-space:pre;font-size:x-small;}
div#warning {color: #b00; font-weight: bold;}