.pun table, .pun div, .pun form, .pun p, .pun h1, .pun h2, .pun h3, .pun h4, .pun code, .pun pre, .pun blockquote, .pun ul, .pun ol, .pun li, .pun dl, .pun dt, .pun dd, .pun th, .pun td, .pun fieldset, .pun img {
margin: 0;
padding: 0;
font-weight: normal;
list-style: none;
}
.pun img {border: none}
.pun input, .pun select, .pun textarea, .pun optgroup {margin: 0}
.pun .clearer, .pun .nosize {
height: 0;
width: 0;
line-height: 0;
font-size: 0;
overflow: hidden
}
.pun .clearer, .pun .clearb {clear: both}
.pun .nosize {position: absolute; left: -10000px}
div.blockpost div.box, div.postleft, div.postsignature, div.postmsg {overflow: hidden}
div>div>div.postfootleft, div>div>div.postfootright {padding-top: 1px; margin-top: -1px}
* html .inbox, * html .inform, * html .pun, * html .intd, * html .tclcon {height: 1px}
* html .inbox div.postmsg {width: 98%}
.pun, .pun .inbox, .pun .inform, .pun .intd, .pun .tclcon {min-height: 1px}
#brdfooter h2, #brdstats h2, #brdstats .conl dt, #brdstats .conr dt,
#modcontrols dt, #searchlinks dt, div.postright h3 {
position: absolute;
display: block;
overflow: hidden;
width: 1em;
left: -999em
}
.conr {
float: right;
text-align: right;
clear: right;
width: 40%
}
.conl {
float: left;
width: 55%;
white-space: nowrap
}
label.conl {
width: auto;
overflow: visible;
margin-right: 10px
}
div.linkst .conl, div.linksb .conl, div.postlinksb .conl {width:20em}
div.linkst .conr, div.linksb .conr, div.postlinksb .conr {width:16em}
form div.linksb .conr {width: 32em}
.linkst ul, .linksb ul, .postlinksb ul {margin-left: 20em}
div.block2col {padding-bottom: 1px}
div.block2col div.blockform, div.block2col div.blockform div.postlinksb, div.block2col div.block, #viewprofile dd {
margin-left: 14em
}
div.blockmenu, #viewprofile dt {
float:left;
width: 13em
}
#profileavatar img {
float: right;
margin-left: 1em
}
#viewprofile dl {float: left; width: 100%; overflow: hidden}
.pun table {width: 100%}
#punindex table, #vf table {table-layout: fixed}
.tcl {text-align: left; width: 50%}
.tc2, .tc3, .tcmod {width: 9%; text-align: center}
.tcr {width: 32%; text-align: left}
#punsearch #vf .tcl, #punmoderate #vf .tcl {width: 41%}
#punsearch #vf .tc2 {width: 18%; text-align: left}
.tcl, .tcr {overflow: hidden}
#users1 .tcl {width: 40%}
#users1 .tcr {width: 25%}
#users1 .tc2 {width: 25%; text-align: left}
#users1 .tc3 {width: 10%; text-align: center}
#debug .tcr {width: 85%; white-space: normal}
#punindex td.tcr span.byuser {display: block}
div.postleft, div.postfootleft {
float:left;
width: 18em;
overflow: hidden;
position: relative;
}
div.postright, div.postfootright {
border-left-width: 18em;
border-left-style: solid
}
div.postfootright, p.multidelete {text-align: right}
div.blockpost>div>div.inbox {padding-bottom: 1px}
div.postmsg {width:100%}
div.incqbox {width: 100%; overflow: hidden}
div.scrollbox {width: 100%; overflow: auto; white-space:pre;}
img.postimg {max-width: 100%}
a .postimg {max-width: 100%}
#postpreview div.postright {border-left: none}
div.postsignature hr {
margin-left: 0;
width: 200px;
text-align: left;
height: 1px;
border:none
}
/*div.searchposts div.postmsg{height: 8em}*/
div.searchposts dd p{padding-top: 3em}
.bbu{text-decoration: underline;}
#onlinelist dd, #onlinelist dt, #brdmenu li, div.linkst li, div.linksb li, div.postlinksb li, div.postfootright li, ul.bblinks li {
display: inline;
height: 0
}
#posterror ul li {list-style: square inside}
#viewprofile dt {text-align: right}
div.txtarea {width: 95%}
div.txtarea textarea, input.longinput {width: 100%}
.pun label {display: block}
#qjump select {width: 50%}
#helpfile h2 {margin-top: 12px}
#helpfile div.box {padding: 10px}
#punredirect div.block, #punmaint div.block {margin: 50px 20% 12px 20%}
p.center {text-align:center}
p.right {text-align:right}
.bbs {text-decoration:line-through;}
code {font-family:"Courier New",monospace;font-size:110%}
div.postmsg ol,div.postmsg ul {padding:5px}
div.postmsg li {margin-left:30px;padding:2px}
div.postmsg ol li {list-style-type:decimal}
div.postmsg ul li {list-style-type:square}
a.search_tag {
padding-left: 12px;
padding-right: 4px;
text-decoration: none;
border-style: solid;
border-width: 1px;
background-position : 0 50%;
background-repeat : no-repeat;
background-image : url(../img/search_tag.gif);
}
a.search_tag:hover {
background-image : url(../img/search_tag_h.gif);
}
div.block2col div.blockpost {
margin-left: 14em;
}
.p_cnt .col1 {
width:25%;
text-align:right;
}
.p_cnt .col2 {
width:50%;
}
.p_cnt .col3 {
width:25%;
}
.p_cnt table {
margin:auto;
}
.p_cnt div td {
border-top:0;
border-left:0;
}
.p_cnt div td div {
height:12px;
border-top:1px solid #FFF;
border-left:1px solid #FFF;
border-bottom:1px solid #777;
border-right:1px solid #777;
background-color:rgb(173,173,173);
}
.paedit li{display:inline}
div#warning {
color: #b00; font-weight: bold;
}
.spoiler{
    border:1px solid #bbb;
    display: none;
}
#helpfile {
    padding: 6px 0;
}
#brdtitle img {
    float: left;
    margin-right: 10px;
}
