html, body {background-color: #000}
.pun {color: #b5b5b5}
.pun th {color:#ac9e91;}
#brdtitle p {color:#0083c6}
#brdfooter{}
div.box, #adminconsole fieldset th, .rowodd, .roweven {background-color: #000}
#adminconsole td, #adminconsole th {border-color: #000}
td.tc2, td.tc3, td.tcmod, div.box {background-color: #30281d}
#adminconsole fieldset td, #viewprofile dd, div.forminfo, div.blockmenu div.box, #adstats dd {background-color: #30281d}
.pun blockquote, div.codebox {background-color: #30281d}
.pun h2 {background-color: #ac9e91; color: #7b654a}
#brdmenu {background-color: #fff; color: #7b654a}
.pun th, .bgc4 {background-color: #000}
.pun legend {color: #7b654a}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #7b654a}
.pun textarea, .pun input, .pun select {background-color: #000; color: #7b654a}
div.postleft, div.postfootleft {border-right-color:#201b13;}
div.postright, div.postfootright {border-left-color:#201b13;}
div.postfootleft, div.postfootright {border-top-color:#201b13;}
div.blockpost h2 {background-color: #30281d}
div.blockpost h2 span.conr {color: #A19E96}
.pun hr {background-color: #044e75; color: #ac9e91}
h2, div.box {border-color: #000000;}
div.blockpost div.box {border-color: #ac9e91}
.pun td {border-color: #000;
background:url(../img/rc3/redbar1.jpg)
no-repeat;
}
.pun th {border-color: #000;
background:url(../img/bf2/pun-th1.gif)
no-repeat;
}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #ac9e91}
.pun div>fieldset {border-color: #ac9e91}
.pun textarea, .pun input, .pun select {border-color:#ac9e91;}
.pun a:link, .pun a:visited {color: #ac9e91}
.pun a:hover {color: #7b654a}
.pun h2 a:link, .pun h2 a:visited {color: #7b654a}
.pun h2 a:hover {color: #D4D4D4}
#brdmenu a:link, #brdmenu a:visited {color:#ac9e91}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #FF4000}
li.maintenancelink a:hover {color: #FF5010}
html, body {background-color: #000;
background:url(../img/bf2/bg_top1.gif);
background-repeat:repeat-y;
}
#brdmenu { background:url(../img/bf2/brdmenu1.gif);
background-repeat: no-repeat;}
#brdtitle {background:url(../img/bf2/logo1.jpg)}
h2{background:url(../img/bf2/3h311.gif)}
h2 span .conr {background:none;}
div#brdfooter {
background: url(../img/bf2/bg_copy.gif) no-repeat;
}
html, body{
scrollbar-arrow-color: #60A0DC;
scrollbar-face-color: #111111;
scrollbar-track-color: #3a3a3a;
scrollbar-highlight-color: #222222;
scrollbar-shadow-color: #000000;
scrollbar-3dlight-color: #333333;
scrollbar-darkshadow-color: #000000;
}