html, body {background-color: #000}
.pun {color: #b5b5b5}
.pun th {color:#0374ad;}
#brdtitle p {color:#0083c6}
div.box, #adminconsole fieldset th, .rowodd, .roweven {background-color: #000}
#adminconsole td, #adminconsole th {border-color: #000}
td.tc2, td.tc3, td.tcmod, #brdfooter div.box {background-color: #000}
#adminconsole fieldset td, #viewprofile dd, div.forminfo, div.blockmenu div.box, #adstats dd {background-color: #000}
.pun blockquote, div.codebox {background-color: #000}
.pun h2, #brdmenu {background-color: #004568; color: #D4D4D4}
.pun th, .bgc4 {background-color: #000}
.pun legend {color: #60A0DC}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #D4D4D4}
.pun textarea, .pun input, .pun select {background-color: #000; color: #ddd}
div.postleft, div.postfootleft {border-right-color:#044e75;}
div.postright, div.postfootright {border-left-color:#044e75;}
div.postfootleft, div.postfootright {border-top-color:#044e75;}
div.blockpost h2 {background-color: #565656}
div.blockpost h2 span.conr {color: #A19E96}
.pun hr {background-color: #044e75; color: #044e75}
h2, div.box {border-color: #044e75;}
div.blockpost div.box {border-color: #044e75}
.pun td {border-color: #044e75;}
.pun th {border-color: #044e75;}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #044e75}
.pun div>fieldset {border-color: #044e75}
.pun textarea, .pun input, .pun select {border-color:#044e75;}
.pun a:link, .pun a:visited {color: #0374ad}
.pun a:hover {color: #0083c6}
.pun h2 a:link, .pun h2 a:visited {color: #D4D4D4}
.pun h2 a:hover {color: #D4D4D4}
#brdmenu a:link, #brdmenu a:visited {color:#ddd}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #FF4000}
li.maintenancelink a:hover {color: #FF5010}
div.icon {/*background:url(../img/DarkBlue/icon.gif)*/}
div.inew {background:url(../img/DarkBlue/icon_new.gif)}
tr.isticky div.icon {background:url(../img/DarkBlue/sticky.gif)}
tr.isticky div.inew {background:url(../img/DarkBlue/sticky_new.gif)}
tr.iclosed div.icon {background:url(../img/DarkBlue/closed.gif)}
tr.iredirect div.icon {/*background:url(../img/DarkBlue/redirect.gif)*/}
html, body {background-color: #000}
/*#punwrap{background:url()}
.pun{background:url()}
#brdtitle {background:url()}*/
#brdmenu li {background:url(../img/DarkBlue/list.gif)}
h2{background:url(../img/DarkBlue/h2_bg.gif)}
h2 span {background:url(../img/DarkBlue/h2_icon.gif)}
h2 span .conr {background:none;}
div#footextra{color:#555;}
html, body{
scrollbar-arrow-color: #60A0DC;
scrollbar-face-color: #111111;
scrollbar-track-color: #3a3a3a;
scrollbar-highlight-color: #222222;
scrollbar-shadow-color: #000000;
scrollbar-3dlight-color: #333333;
scrollbar-darkshadow-color: #000000;
}