body {background-color: #FFF}
.pun {color: #333}
div.box, .pun blockquote, div.codebox, #adminconsole fieldset th, .rowodd, .roweven {background-color: #F1F1F1}
#adminconsole td, #adminconsole th {border-color: #F1F1F1}
td.tc2, td.tc3, td.tcmod, #postpreview, #viewprofile dd, div.forminfo,
#adminconsole fieldset td, div.blockmenu div.box, #adstats dd {background-color: #DEDFDF}
.pun h2, #brdmenu {background-color: #555; color: #FFF}
.pun h2 {background: #555 url(../img/Kontrast/bg-barre.gif);border-left: 1px solid #333;border-right: 1px solid #333}
.pun th {background-color: #D1D1D1}
.pun legend {color: #000}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #333}
div.blockpost div.box, div.postright, div.postfootright {background-color: #F1F1F1}
div.postright, div.postfootright {border-left-color: #DEDFDF}
div.postleft, div.postfootleft, div.blockpost label {background-color: #DEDFDF}
div.blockpost h2 {background-color: #555}
div.blockpost h2 span.conr {color: #CCC}
.pun hr {background-color: #333; color: #333}
div.box {border-color: #333}
div.blockpost div.box {border:0;border-top:1px solid #333}
.pun td {border-color: #CCC}
.pun th {border-color: #D1D1D1}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #ACA899 #FFF #FFF #ACA899}
.pun div>fieldset {border-color: #ACA899}
.pun a:link, .pun a:visited {color: #000}
.pun a:hover {color: #333}
.pun h2 a:link, .pun h2 a:visited, #brdmenu a:link, #brdmenu a:visited {color: #FFF}
.pun h2 a:hover, #brdmenu a:hover {color: #FFF}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #B42000}
li.maintenancelink a:hover {color: #B42000}
div.icon {background: url(../img/Kontrast/nonew.gif);}
div.inew {background: url(../img/Kontrast/new.gif)}
#punwrap {
background: url(../img/Kontrast/bg.gif);
}
.pun {
background: url(../img/Kontrast/haut.gif);
}
#brdtitle {
background: url(../img/Kontrast/logo.gif);
}
#brdfooter {
background: url(../img/Kontrast/bas.gif);
}