body {background-color: #2A2A2A}
.pun {color: #D4D4D4}
div.box, #adminconsole fieldset th, .rowodd, .roweven {background-color: #383838}
#adminconsole td, #adminconsole th {border-color: #383838}
td.tc2, td.tc3, td.tcmod, #brdfooter div.box {background-color: #424242}
#adminconsole fieldset td, #viewprofile dd, div.forminfo, div.blockmenu div.box, #adstats dd {background-color: #484848}
.pun blockquote, div.codebox {background-color: #353533}
.pun h2, #brdmenu {background-color: #565656; color: #D4D4D4}
.pun th {background-color: #484848}
.pun legend {color: #F6B620}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #D4D4D4}
.pun textarea, .pun input, .pun select {background-color: #2A2A2A; color: #D4D4D4}
div.blockpost div.box, div.postright, div.postfootright, #postpreview {background-color: #383838}
div.postright, div.postfootright {border-left-color: #424242}
div.postleft, div.postfootleft, div.blockpost label {background-color: #424242}
div.blockpost h2 {background-color: #565656}
div.blockpost h2 span.conr {color: #A19E96}
.pun hr {background-color: #606060; color: #606060}
div.box {border-color: #565656}
div.blockpost div.box {border-color: #565656 #525252 #525252}
.pun td {border-color: #565656}
.pun th {border-color: #484848}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #565656}
.pun div>fieldset {border-color: #909090}
.pun a:link, .pun a:visited {color: #F6B620}
.pun a:hover {color: #FFEE40}
.pun h2 a:link, .pun h2 a:visited {color: #D4D4D4}
.pun h2 a:hover {color: #D4D4D4}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #FF4000}
li.maintenancelink a:hover {color: #FF5010}
div.icon {border-color: #484848 #404040 #3C3C3C #444444}
tr.iredirect div.icon {border-color: #383838 #383838 #383838 #383838}
div.inew {border-color: #F6B620 #ECAE1F #D09A1B #E1A61D}
code{color:#F6B620}
div.postmsg li{color:#999}
div.spoilerbox p{color:#353533}
div.spoilerbox p:hover{color:#A4A4A4}
img.postimg{padding:1px;margin:2px 5px;border:1px solid #565656;background:#353533}
div.postmsg a:hover img.postimg{border:1px solid #F6B620}