body {background-color: #333333}
.pun {color: #ffffff}
div.box, .pun blockquote, div.codebox, #adminconsole fieldset th, .rowodd, .roweven {background-color: #333333}
#adminconsole td, #adminconsole th {border-color: #333333}
td.tc2, td.tc3, td.tcmod, #postpreview, #viewprofile dd, div.forminfo,
#adminconsole fieldset td, div.blockmenu div.box, #adstats dd {background-color: #333333}
.pun h2, #brdmenu { background-color: #000000; color: #FFF;
background-image:url(../img/Mercury2/cell.gif) }
.pun th {background-color: #666666}
.pun legend {color: #ffcc00}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #ffffff}
div.blockpost div.box, div.postright, div.postfootright {background-color: #333333}
div.postright, div.postfootright {border-left-color: #666666}
div.postleft, div.postfootleft, div.blockpost label {background-color: #666666}
div.blockpost h2 {background-color: #000000; color: #FFF;
background-image:url(../img/Mercury2/cell.gif) }
div.blockpost h2 span.conr {color: #000000; }
.pun hr {background-color: #666666; color: #666666}
div.box {border-color: #000000}
div.blockpost div.box {border-color: #00ffff #00ffff #00ffff}
.pun td {border-color: #333333}
.pun th {border-color: #333333}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #666666 #FFF #FFF #666666}
.pun div>fieldset {border-color: #000000}
.pun a:link, .pun a:visited {color: #ffcc00}
.pun a:hover {color: #ffffff}
.pun h2 a:link, .pun h2 a:visited, #brdmenu a:link, #brdmenu a:visited {color: #ffffff}
.pun h2 a:hover, #brdmenu a:hover {color: #ffcc00}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #B42000}
li.maintenancelink a:hover {color: #B42000}
div.icon {background:url(../img/Mercury2/icon.gif)}
div.inew {background:url(../img/Mercury2/icon_new.gif)}
tr.isticky div.icon {background:url(../img/Mercury2/sticky.gif)}
tr.isticky div.inew {background:url(../img/Mercury2/sticky_new.gif)}
tr.iclosed div.icon {background:url(../img/Mercury2/closed.gif)}
tr.iredirect div.icon {background:url(../img/Oxygen2/redirect.gif)}
.pun p.postlink, #conr
{
text-align: center;
position: relative;
TOP : 0px;
left: 6px;
background-color: #000000;
background-image: url(../img/Mercury2/bg_button.gif);
filter: progid:DXImageTransform.Microsoft.shadow(direction=135,color=#666666,strength=2);
}