body {background-color: #FFF}
.pun {color: #333}
div.box, .pun blockquote, div.codebox, #adminconsole fieldset th, .rowodd, .roweven {background-color: #fff}
#adminconsole td, #adminconsole th {border-color: #fff}
td.tc2, td.tc3, td.tcmod, #postpreview, #viewprofile dd, div.forminfo,
#adminconsole fieldset td, div.blockmenu div.box, #adstats dd {background-color: #fff}
.pun h2, #brdmenu {background-color: #fff; color: #c60; text-transform: uppercase; font-weight: bold;}
#brdmenu { margin:0 11px 11px;
 padding:0 20px 20px;
 border:1px solid #eee;
 border-width:0 1px 1px;
 max-width:700px;
 font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
 text-transform:uppercase;
 letter-spacing:.2em;
 color:#999;
 text-align: center;}
.pun th {background-color: #fff}
.pun legend {color: #005CB1}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #333}
div.blockpost div.box, div.postright, div.postfootright {background-color: #fff}
div.postright, div.postfootright {border-left-color: #fff}
div.postleft, div.postfootleft, div.blockpost label {background-color: #fff}
div.blockpost h2 {background-color: #fff}
div.blockpost h2 span.conr {color: #AABDCD}
.pun hr {background-color: #333; color: #333}
div.box {border-color: #0066B9}
div.blockpost div.box {border-color: #006fC9 #0066B9 #0066B9}
.pun td {border-color: #BBCEDE}
.pun th {border-color: #fff}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #ACA899 #FFF #FFF #ACA899}
.pun div.blockpost { border-bottom: #eee solid 1px}
.pun div>fieldset {border-color: #ACA899}
.pun a:link, .pun a:visited {color: #58a; text-decoration: none}
.pun a:hover {color: #c60}
.pun h2 a:link, .pun h2 a:visited, #brdmenu a:link, #brdmenu a:visited {color: #58a}
.pun h2 a:hover, #brdmenu a:hover {color: #c60}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #B42000}
li.maintenancelink a:hover {color: #B42000}
div.icon {border-color: #D1E2EF}
tr.iredirect div.icon {border-color: #F1F1F1 #F1F1F1 #F1F1F1 #F1F1F1}
div.inew {border-color: #8FCDFF #61A6DF #4D95CF #77B9EF}
div.blockpost h2 a:link, div.blockpost h2 a:hover
{ color: #ccc; text-decoration: none;}
#brdtitle
{ padding: 0px;}
#brdheader
{ border: 1px solid #ccc; border-bottom-style:none; padding-bottom: 0px;}
#brdwelcome
{ color: #999; text-transform: uppercase; font-size: .8em; padding: 5px 6px 0px 6px; margin: 0px -1px 0px -1px; border: 1px solid #fff; border-top: 1px solid #ccc; border-width: 1px 1px 1px 1px;}
#brdstats
{ color: #666; text-transform: none; font-size: .8em}
#brdfooter p, #modcontrols, .postfootright, .postfootleft, .postleft
{ color: #666; font-size: .8em;}
#brdstats
{ padding-top: 15px;}
.pun #main
{width: 500px;}
.pun textarea
{ background-color: #fafafa; border: 1px solid #999 }
.linkst li, .linksb li
 { color: #666; font-size: .8em;}