body {background-color: #FFF}
.pun {color: #333}
div.box, .pun blockquote, div.codebox, #adminconsole fieldset th, .rowodd, .roweven {background-color: #F1F1F1}
#adminconsole td, #adminconsole th {border-color: #F1F1F1}
td.tc2, td.tc3, td.tcmod, #postpreview, #viewprofile dd, div.forminfo,
#adminconsole fieldset td, div.blockmenu div.box, #adstats dd {background-color: #DEDFDF}
.pun h2, #brdmenu {background-color: #B84623; color: #FFF}
.pun th {background-color: #D1D1D1}
.pun legend {color: #822100}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #333}
div.blockpost div.box, div.postright, div.postfootright {background-color: #DEDFDF}
div.postright, div.postfootright {border-left-color: #F1F1F1}
div.postleft, div.postfootleft, div.blockpost label {background-color: #F1F1F1}
div.blockpost h2 {background-color: #D25028}
div.blockpost h2 span.conr {color: #FCCFC1}
.pun hr {background-color: #333; color: #333}
div.box {border-color: #B84623}
div.blockpost div.box {border-color: #D25028 #B84623 #B84623}
.pun td {border-color: #E1C3C3}
.pun th {border-color: #D1D1D1}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #ACA899 #FFF #FFF #ACA899}
.pun div>fieldset {border-color: #ACA899}
.pun a:link, .pun a:visited {color: #822100}
.pun a:hover {color: #CA3300}
.pun h2 a:link, .pun h2 a:visited, #brdmenu a:link, #brdmenu a:visited {color: #FFF}
.pun h2 a:hover, #brdmenu a:hover {color: #FFF}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #B42000}
li.maintenancelink a:hover {color: #B42000}
div.icon {border-color: #E6E6E6 #DEDEDE #DADADA #E2E2E2}
tr.iredirect div.icon {border-color: #F1F1F1 #F1F1F1 #F1F1F1 #F1F1F1}
div.inew {border-color: #C23000 #AF2C00 #992600 #AC2B00}
code {
color: #E37655;
}
div.postmsg li {
color: #666;
}
img.postimg {
padding: 1px;
margin: 2px 5px;
border: 1px solid #D2613F;
background: #F1F1F1;
}
div.postmsg a:hover img.postimg {
border: 1px solid #CA3300;
}