@import url(imports/base.css);
@import url(imports/bf2_cs.css);
.pun, .pun input, .pun select, .pun textarea, .pun optgroup {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pun {font-size: 11px; line-height: normal}
* HTML .pun {font-size: 68.75%}
.pun TABLE, .pun INPUT, .pun SELECT, .pun OPTGROUP, .pun TEXTAREA, DIV.postmsg P.postedit {font-size: 1em}
.pun PRE {font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace}
.pun H2 {font-size: 1.2em}
.pun H4 {font-size: 1.1em}
.pun H3 {font-size: 1.1em}
DIV.postmsg P {line-height: 1.4}
DIV.postleft DT {font-size: 1.1em}
.pun PRE {font-size: 1.2em}
.pun th {font-size: 9px;}
#brdwelcome {font-size:10px}
.pun h2, DIV.postleft DT, DIV.postmsg H4, TD.tcl H3, DIV.forminfo H3, P.postlink, DIV.linkst LI,
DIV.linksb LI, DIV.postlinksb LI, .blockmenu LI, .pun SPAN.warntext, .pun P.warntext {font-weight: bold}
.pun A:link, .pun A:visited {
text-decoration: none
}
#brdmenu A:hover, .blockpost H2 A:hover {text-decoration: underline}
DIV.box, .pun TD, .pun TH, .pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {
border-style: solid;
border-width: 1px
}
h2 {border-style:solid; border-width: 1px 1px 0 1px;}
#brdheader DIV.box {border-top-width: 4px}
.pun TD, .pun TH {
border-bottom: none;
border-right: none
}
.pun TH {border-top: none;}
.pun .tcl {border-left: none}
DIV>FIELDSET {
border-style: solid;
border-width: 1px
}
html, body{margin:0; padding:0; background-position:center top;
BACKGROUND-COLOR: #000;}
#punwrap{margin: auto; width:739px;}
.pun{
background-repeat:no-repeat;
padding:0px 8px 1px 8px;
}
DIV.blocktable, DIV.block, DIV.blockform, DIV.block2col, #postpreview {margin-bottom: 12px}
#punindex DIV.blocktable, DIV.blockpost {margin-bottom: 6px}
DIV.block2col DIV.blockform, DIV.block2col DIV.block {margin-bottom: 0px}
DIV.linkst {margin-top: 0px;}
DIV.linksb {margin-top: -12px;}
DIV.postlinksb {margin-top: -6px;}
#brdstats {margin-top: 12px}
DIV.block DIV.inbox, DIV.blockmenu DIV.inbox {padding: 3px 6px}
.pun P, .pun UL, .pun DL, DIV.blockmenu LI, .pun LABEL, #announce DIV.inbox DIV {padding: 3px 0}
.pun H2 {padding: 4px 6px}
.pun H1 {padding: 3px 0px 0px 0}
#brdtitle P {padding-top: 0px;
}
DIV.linkst {padding: 0px 8px 0px 6px}
DIV.linksb, DIV.postlinksb {padding: 0px 8px 8px 6px}
#brdwelcome, DL A, DIV.blockmenu LI, DIV.rbox INPUT {line-height: 1.4em}
#viewprofile DT, #viewprofile DD {padding: 0 3px; line-height: 2em}
#brdfooter
{line-height: 1.4em;
/*background:url(img/DarkBlue/bg_copy.gif);*/
background-repeat: no-repeat;
}
#brdmenu LI, DIV.rbox INPUT, DIV.blockform P INPUT {margin-right: 12px}
.pun TH {padding:0}
.pun TD {padding: 4px 6px}
.pun TD P {padding: 5px 0 0 0}
.tcl {width:60%;}
.tc2 {width:6%;}
.tc3 {width:6%;}
.tcr {width:28%; text-align:center;}
.pun th {text-align:center;}
DIV.postleft DL, DIV.postright {padding: 6px}
DD.usercontacts, DD.postavatar {margin-top: 5px}
DD.postavatar {margin-bottom: 5px}
DIV.postsignature, DIV.postmsg P.postedit {padding-top: 15px}
DIV.postmsg H4 {margin-bottom: 10px}
.pun BLOCKQUOTE, DIV.codebox {margin: 5px 15px 15px 15px; padding: 8px}
DIV.postfootleft P, DIV.postfootright UL, DIV.postfootright DIV {padding: 2px 8px}
DIV.blockpost INPUT, DIV.blockpost LABEL {
padding: 3px;
display: inline
}
P.multidelete {
padding-top: 15px;
padding-bottom: 5px
}
DIV.postmsg P {padding: 0}
.pun TEXTAREA, .pun INPUT, .pun SELECT {border-width:1px;border-style:solid;}
DIV.blockform FORM, DIV.fakeform {padding: 20px 20px 15px 20px}
DIV.inform {padding-bottom: 12px}
.pun FIELDSET {padding: 0px 12px 0px 12px}
DIV.infldset {padding: 9px 0px 12px 0}
.pun LEGEND {padding: 0px 6px}
DIV.forminfo {
margin-bottom: 12px;
padding: 9px 10px
}
UL.bblinks LI {padding-right: 20px}
UL.bblinks {padding-bottom: 10px; padding-left: 4px}
DIV.blockform P INPUT {margin-left: 12px}
DIV.icon {
FLOAT: left;
display: block;
width:16px;
height:16px
}
DIV.searchposts DIV.icon {margin-left: 0}
TD DIV.tclcon {margin-left: 1.7em}
TD.tcl {padding-left:3px;}
h2 span {
    padding-left:12px;
    background-position:0px 4px;
    background-repeat:no-repeat;
}
div#footextra{text-align:center; margin-bottom:10px; font-size:.7em}

#brdmenu li {height:16px; padding-left:9px; background-repeat:no-repeat; background-position:0 4px}

DIV.postright, DIV.postfootright {margin-left: 18em;border-left-width: 1px;}
DIV.postleft, DIV.postfootleft {border-right-width:1px;border-right-style:solid;}
DIV.postfootleft, DIV.postfootright {border-top-width:1px;border-top-style:solid;}
#postpreview div.postright{margin:0;}

#punredirect {background:none; padding:10px;}
#brdtitle {
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 0px;
    font-size: 0px;
    height: 200px;
}
