@import url(imports/base.css);
@import url(imports/VbStyle-Black_cs.css);
.pun, .pun input, .pun select, .pun textarea, .pun optgroup {
font-family: Verdana, Geneva, Lucida, 'Lucida grande', Arial, Helvetica, sans-serif;
}
.pun {FONT-SIZE: 11px; LINE-HEIGHT: normal}
* HTML .pun {FONT-SIZE: 68.75%}
.pun table, .pun input, .pun select, .pun optgroup, .pun textarea, div.postmsg p.postedit {FONT-SIZE: 1em}
.pun pre {FONT-FAMILY: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace}
.pun h2, .pun h4 {font-size: 9px;}
.pun h3 {FONT-SIZE: 1.1em}
.brdtitle h1 {FONT-SIZE: 1.4em}
div.postmsg p {LINE-HEIGHT: 1.4}
div.postleft dt {FONT-SIZE: 1.1em}
.pun pre {FONT-SIZE: 1.2em}
div.postleft dt, div.postmsg h4, td.tcl h3, div.forminfo h3, p.postlink, div.linkst li, div.linksb li, div.postlinksb li, .blockmenu li, .brdtitle h1, .pun span.warntext, .pun p.warntext {FONT-WEIGHT: bold}
#brdmenu a:link, #brdmenu a:visited, .blockpost dt a:link, .blockpost dt a:visited, .blockpost h2 a:link, .blockpost h2 a:visited, .postlink a:link, .postlink a:visited, .postfootright a:link, .postfootright a:visited, .blockmenu a:link, .blockmenu a:visited {
TEXT-DECORATION: none
}
#brdmenu a:hover, .blockpost h2 a:hover {TEXT-DECORATION: underline}
div.box, .pun td, .pun th, div.forminfo, div.blockpost label {
BORDER-STYLE: solid;
BORDER-WIDTH: 1px;
}
.pun blockquote, div.codebox{
box-shadow: -6px 6px 6px #333;
-webkit-box-shadow:-6px 6px 6px #333;
-moz-box-shadow:-6px 6px 6px #333;
border-radius: 6px;
-moz-border-radius:6px;
BORDER-STYLE: solid;
BORDER-WIDTH: 1px;
}
.pun blockquote:hover, div.codebox:hover{
box-shadow: -8px 8px 8px #333;
-webkit-box-shadow:-8px 8px 8px #333;
-moz-box-shadow:-8px 8px 8px #333;
}
#brdheader div.box {BORDER-TOP-WIDTH: 1px}
.pun td{
BORDER-BOTTOM: none;
BORDER-RIGHT: none;
}
.pun th {
BORDER-BOTTOM: none;
BORDER-RIGHT: none;
BORDER-top: none;
BORDER-left: none;
}
.pun .tcl {BORDER-LEFT: none}
div>fieldset {
BORDER-STYLE: solid;
BORDER-WIDTH: 1px
}
div.blocktable, div.block, div.blockform, div.block2col, #postreview {MARGIN-BOTTOM: 12px}
#punindex div.blocktable, div.blockpost {MARGIN-BOTTOM: 6px}
div.block2col div.blockform, div.block2col div.block {MARGIN-BOTTOM: 0px}
div.linkst, div.linksb {MARGIN-TOP: -12px}
div.postlinksb {MARGIN-TOP: -6px}
#brdstats {MARGIN-TOP: 12px}
div.block div.inbox, div.blockmenu div.inbox {PADDING: 3px 6px}
.pun p, .pun ul, .pun dl, div.blockmenu li, .pun label, #announce div.inbox div {PADDING: 3px 0}
#brdtitle p {PADDING-TOP: 0px}
div.linkst {PADDING: 8px 6px 3px 6px}
div.linksb, div.postlinksb {PADDING: 3px 6px 8px 6px}
#brdwelcome, #brdfooter dl a, div.blockmenu li, div.rbox input {LINE-HEIGHT: 1.4em}
#viewprofile dt, #viewprofile dd {PADDING: 0 3px; LINE-HEIGHT: 2em}
#brdmenu li, div.rbox input, div.blockform p input {MARGIN-RIGHT: 12px}
.pun th, .pun td {PADDING: 4px 6px}
.pun td p {PADDING: 5px 0 0 0}
div.postleft dl, div.postright {PADDING: 6px}
dd.usercontacts, dd.postavatar {MARGIN-TOP: 5px}
dd.postavatar {MARGIN-BOTTOM: 5px}
div.postsignature, div.postmsg p.postedit {PADDING-TOP: 15px}
div.postmsg h4 {MARGIN-BOTTOM: 10px}
.pun blockquote, div.codebox {MARGIN: 5px 15px 15px 15px; PADDING: 8px}
div.postfootleft p, div.postfootright ul, div.postfootright div {PADDING: 10px 6px 5px 6px}
div.blockpost input, div.blockpost label {
PADDING: 3px;
DISPLAY: inline
}
p.multidelete {
PADDING-TOP: 15px;
PADDING-BOTTOM: 5px
}
div.postmsg p {PADDING: 0}
div.blockform form, div.fakeform {PADDING: 20px 20px 15px 20px}
div.inform {PADDING-BOTTOM: 12px}
.pun fieldset {PADDING: 0px 12px 0px 12px}
div.infldset {PADDING: 9px 0px 12px 0}
.pun legend {PADDING: 0px 6px}
div.forminfo {
MARGIN-BOTTOM: 12px;
PADDING: 9px 10px
}
ul.bblinks li {PADDING-RIGHT: 20px}
ul.bblinks {PADDING-BOTTOM: 10px; PADDING-LEFT: 4px}
div.blockform p input {MARGIN-LEFT: 12px}
div.icon{
float: left;
display: block;
width:20px;
height:20px;
}
div.searchposts div.icon {MARGIN-LEFT: 0}
td div.tclcon {MARGIN-LEFT: 2.3em}