BODY {BACKGROUND-COLOR: #FFFFFF}
.pun {COLOR: #093F7B}
DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #f1f1f1}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #f1f1f1}
TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #f1f1f1}
.pun H2, #brdmenu {font-weight: bold; BACKGROUND: #555 url(../img/CrystalBlue/nagl1.gif); COLOR: #FFF}
.pun H2 {font-weight: bold;BACKGROUND: #555 url(../img/CrystalBlue/nagl1.gif);border-top: 1px solid #396AA3;border-left: 1px solid #396AA3;border-right: 1px solid #396AA3}
.pun TH {BACKGROUND: url(../img/CrystalBlue/nagl2.gif) #EEEEEE;}
.pun LEGEND {COLOR: #000}
.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #093F7B}
DIV.blockpost DIV.box, DIV.postright, DIV.postfootright {BACKGROUND-COLOR: #f1f1f1}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #f1f1f1}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #f5f5f5}
DIV.blockpost H2 {BACKGROUND-COLOR: #f1f1f1}
DIV.blockpost H2 SPAN.conr {COLOR: #CCC}
.pun HR {BACKGROUND-COLOR: #396AA3; COLOR: #093F7B}
DIV.box {BORDER-COLOR: #396AA3}
DIV.blockpost DIV.box {BORDER: 1px solid #396AA3 ;border-top: 1px solid #396AA3;}
.pun TD {BORDER-COLOR: #FFF}
.pun TH {BORDER-COLOR: #FFF}
.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #3270B5 #FFF #FFF #3270B5}
.pun DIV>FIELDSET {BORDER-COLOR: #3270B5}
.pun A:link, .pun A:visited {COLOR: #093F7B; text-decoration: none;}
.pun A:hover {COLOR: #0E2238}
.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {font-weight: bold; COLOR: #FFF}
.pun H2 A:hover, #brdmenu A:hover {COLOR: #FFF; font-weight: bold;}
LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}
DIV.icon {BACKGROUND: url(../img/CrystalBlue/nonew.gif);}
DIV.inew {BACKGROUND: url(../img/CrystalBlue/new.gif);}
TR.isticky DIV.icon {background:url(../img/CrystalBlue/sticky.gif)}
TR.isticky DIV.inew {background:url(../img/CrystalBlue/sticky.gif)}
TR.iclosed DIV.icon {background:url(../img/CrystalBlue/closed.gif)}
#brdmenu {font-weight: bold; BACKGROUND: url(../img/CrystalBlue/nagl1.gif);border-top: 1px solid #396AA3;border-bottom: 1px solid #396AA3;}
.pun H1
{
display: block;
height: 30px;
}
.pun H1 span
{
color: #444;
padding-left: 2px;
font-weight: bold;
font-size: 15px;
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}