BODY {BACKGROUND-COLOR: #FFFFFF}
.pun {COLOR: #0D4D0A}
DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #C1DABF}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #C1DABF}
TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #C1DABF}
TH.tc3 {width: 70px}
.pun H2, #brdmenu {BACKGROUND: url(../img/GreenPun/belka1.png); COLOR: #FFF;font-weight: bold; height: 16px;}
.pun H2 {font-weight: bold;BACKGROUND: #555 url(../img/GreenPun/belka1.png);border-top: 1px solid #387735;border-left: 1px solid #387735;border-right: 1px solid #387735; height: 16px;}
.pun TH {BACKGROUND-COLOR: #69B765;}
.pun LEGEND {COLOR: #0D4D0A}
.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #0D4D0A}
DIV.blockpost DIV.box, DIV.postright, DIV.postfootright {BACKGROUND-COLOR: #C1DABF}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #C1DABF}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #C1DABF}
DIV.blockpost H2 {BACKGROUND-COLOR: #C1DABF}
DIV.blockpost H2 SPAN.conr {COLOR: #CCC}
.pun HR {BACKGROUND-COLOR: #387735; COLOR: #0D4D0A}
DIV.box {BORDER-COLOR: #387735}
DIV.blockpost DIV.box {BORDER: 1px solid #387735;BORDER-TOP: 1px solid #387735;}
.pun TD {BORDER-COLOR: #F0F0F0}
.pun TH {BORDER-COLOR: #F0F0F0}
.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #3270B5 #FFF #FFF #3270B5}
.pun DIV>FIELDSET {BORDER-COLOR: #0D4D0A}
.pun A:link, .pun A:visited {COLOR: #0D4D0A; text-decoration: none;}
.pun A:hover {COLOR: #777777}
.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #FFF;}
.pun H2 A:hover, #brdmenu A:hover {COLOR: #C1DABF;}
LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}
DIV.icon {BACKGROUND: url(../img/GreenPun/folder_grey.png);}
DIV.inew {BACKGROUND: url(../img/GreenPun/folder_green.png);}
TR.isticky DIV.icon {background:url(../img/GreenPun/sticky.png)}
TR.isticky DIV.inew {background:url(../img/GreenPun/sticky_new.png)}
TR.iclosed DIV.icon {background:url(../img/GreenPun/closed.png)}
DIV.iredirect {background:url(../img/GreenPun/link.png)}
#brdmenu {BACKGROUND: url(../img/GreenPun/belka1.png);border-top: 1px solid #387735;border-bottom: 1px solid #387735;}
.pun H1 span
{
color: #0D4D0A;
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.pun H1
{
background-repeat: no-repeat;
background-position: 0px;
display: block;
height: 50px;
border-top : 0px solid #ffffff;
border-bottom : 0px solid #ffffff;
}
#punindex #brdstats div.box div.inbox dl.conl,
#punforum #brdstats div.box div.inbox dl.conl
{
background: transparent url(../img/GreenPun/stats.png) no-repeat 0% 50%;
padding-left: 38px;
}