html, body {
background-color : #f1f1f1;
color : #000000;
}
.pun {
color : #000000;
}
.pun blockquote , div.codebox , div.box , adminconsole fieldset th , .rowodd , .roweven {
background-color : #ffffff;
}
#adminconsole td , #adminconsole th {
border-color : #ffffff;
background-color : #ffffff;
}
#postpreview , #viewprofile dd , div.forminfo , div.blockmenu div.box {
background-color : #ffffff;
color : #000000;
}
#adminconsole fieldset td {
border-color : #ffffff;
background-color : #ffffff;
}
td.tc2 , td.tc3 , td.tc4 , td.tc5 {
background-color : #ecf0f6;
}
td.tcmod , adstats dd {
background-color : #ffffff;
}
.pun h2 {
background-image : url(../img/NewYear/cellpic1.gif);
background-color: #bec8ce;
border-right : 1px solid #bec8ce;
border-left : 1px solid #bec8ce;
border-top : 1px solid #fafafa;
border-bottom : 1px solid #fafafa;
color : #fff;
font-weight : bold;
}
.pun #brdmenu {
background-image : url(../img/NewYear/cellpic1.gif);
background-color: #bec8ce;
border-right : 0 solid #dfe6ef;
border-left : 0 solid #dfe6ef;
border-top : 1px solid #fafafa;
border-bottom : 1px solid #fafafa;
color : #fff;
font-weight : bold;
}
.pun th {
background-color : #ffffff;
color : #496690;
}
.pun th.tcl , th.tc2 , th.tc3 , th.tc4 , th.tc5 , th.tcr , th.tcmod {
background-image : url(../img/NewYear/cellpic2.gif);
color : #496690;
font-weight : bold;
}
.pun div.infldset th.tcl , div.infldset th.tc2 , div.infldset th.tc3 , div.infldset th.tcr {
background-image : url(../img/NewYear/pix.gif);
color : #496690;
}
.pun div.infldset th.hidehead {
color : #496690;
background-image : url(../img/NewYear/pix.gif);
}
.pun legend {
color : #496690;
}
.pun div.blockmenu li.isactive a , #posterror li strong {
color : #f26522;
}
div.blockpost div.box , div.postright , div.postfootright {
background-color : #ffffff;
}
div.postright , div.postfootright {
border-left-color : #ecf0f6;
}
div.postleft , div.postfootleft , div.blockpost label {
background-color : #ecf0f6;
}
div.blockpost h2 {
background-color : #efefeb;
background-color: #bec8ce;
}
div.blockpost h2 span.conr {
color : #ffffff;
}
.pun hr {background-color: #333; color: #333}
div.box {
border-left-color : #bec8ce;
border-right-color : #bec8ce;
border-top-color : #bec8ce;
border-bottom-color : #bec8ce;
}
div.blockpost div.box {
border-color : #bec8ce;
}
.pun td {
border-color : #bec8ce;
}
.pun th {
border-color : #d9e0e4;
}
.pun blockquote {
background-color : #dfe6ef;
color : #000000;
}
.pun blockquote , div.codebox , div.forminfo , div.blockpost label {
border-color : #bec8ce;
}
fieldset {
border-color : #dfe6ef;
}
.pun a:link , .pun a:visited {
color : #496690;
}
.pun a:hover {
color : #f26522;
}
.pun h2 a:link , .pun h2 a:visited , #brdmenu a:link , #brdmenu a:visited {
color : #ffffff;
}
.pun h2 a:hover , #brdmenu a:hover {
color : #fff;
}
li.postreport a:link , li.postreport a:visited , tr.iclosed td.tcl a:link , tr.iclosed td.tcl a:visited {
color : #aaaaaa;
}
li.postreport a:hover , tr.iclosed td.tcl a:hover {
color : #aaaaaa;
}
li.maintenancelink a:link , li.maintenancelink a:visited {
color : #b42000;
}
li.maintenancelink a:hover {
color : #b42000;
}
tr.iclosed div.icon {
background-image : url(../img/NewYear/icon_closed.gif);
}
div.icon {
background-image : url(../img/NewYear/icon_normal.gif);
}
tr.iredirect div.icon {
background-image : url(../img/NewYear/icon_redirect.gif);
}
tr.inew div.icon {
background-image : url(../img/NewYear/icon_new.gif);
}
tr.isticky div.icon {
background-image : url(../img/NewYear/icon_stiky.gif);
}
.pun , .pun input , .pun select , .pun textarea , .pun optgroup {
font-family : Verdana, Arial, Helvetica, sans-serif;
}
.pun {
font-size : 11px;
line-height : normal;
}
* html .pun {
font-size : 68.75%;
}
.pun table , .pun input , .pun select , .pun optgroup , .pun textarea , div.postmsg p.postedit {
font-size : 1em;
}
.pun h2 , .pun h4 {
font-size : 1em;
}
.pun h3 {
font-size : 1.1em;
}
#brdtitle h1 {
font-size : 1.4em;
}
div.postmsg p {
line-height : 1.4;
}
div.postleft dt {
font-size : 1.1em;
}
.pun pre {
font-size : 1.2em;
}
div.postleft dt , div.postmsg h4 , td.tcl h3 , div.forminfo h3 , p.postlink , div.linkst li , div.linksb li , div.postlinksb li , .blockmenu li , #brdtitle h1 , .pun span.warntext , .pun p.warntext {
font-weight : bold;
}
#brdmenu a:link , #brdmenu a:visited , .blockpost dt a:link , .blockpost dt a:visited , .blockpost h2 a:link , .blockpost h2 a:visited , .postlink a:link , .postlink a:visited , .postfootright a:link , .postfootright a:visited , .blockmenu a:link , .blockmenu a:visited {
text-decoration : none;
}
#brdmenu a:hover , .blockpost h2 a:hover {
text-decoration : underline;
}
div.box , .pun td , .pun th , .pun blockquote , div.codebox , div.forminfo , div.blockpost label {
border-style : solid;
border-width : 1px;
}
#brdheader div.box {
border-top-width : 4px;
}
.pun td , .pun th {
border-bottom : medium none inherit;
border-right : medium none inherit;
}
.pun .tcl {
border-left : medium none inherit;
}
fieldset {
border-style : solid;
border-width : 1px;
}
html , body {
margin : 0;
padding : 0;
}
#punwrap {
margin : 12px 20px;
}
div.blocktable , div.block , div.blockform , div.block2col , #postreview {
margin-bottom : 12px;
}
#punindex div.blocktable , div.blockpost {
margin-bottom : 6px;
}
div.block2col div.blockform , div.block2col div.block {
margin-bottom : 0;
}
div.linkst , div.linksb {
margin-top : -12px;
}
div.postlinksb {
margin-top : -6px;
}
#brdstats {
margin-top : 12px;
}
div.block div.inbox , div.blockmenu div.inbox {
padding : 3px 6px;
}
.pun p , .pun ul , .pun dl , div.blockmenu li , .pun label , #announce div.inbox div {
padding : 3px 0;
}
.pun h2 {
padding : 4px 6px;
}
.pun h1 {
padding : 3px 0 0 0;
}
#brdtitle p {
padding-top : 0;
}
div.linkst {
padding : 8px 6px 3px;
}
div.linksb , div.postlinksb {
padding : 3px 6px 8px;
}
#brdwelcome , #brdfooter dl a , div.blockmenu li , div.rbox input {
line-height : 1.4em;
}
#viewprofile dt , #viewprofile dd {
padding : 0 3px;
line-height : 2em;
}
#brdmenu li , div.rbox input , div.blockform p input {
margin-right : 12px;
}
.pun th , .pun td {
padding : 4px 6px;
}
.pun td p {
padding : 5px 0 0;
}
div.postleft dl , div.postright {
padding : 6px;
}
dd.usercontacts , dd.postavatar {
margin-top : 5px;
}
dd.postavatar {
margin-bottom : 5px;
}
div.postsignature , div.postmsg p.postedit {
padding-top : 15px;
}
div.postmsg h4 {
margin-bottom : 10px;
}
.pun blockquote , div.codebox {
margin : 5px 15px 15px;
padding : 8px;
}
div.postfootleft p , div.postfootright ul , div.postfootright div {
padding : 10px 6px 5px;
}
div.blockpost input , div.blockpost label {
padding : 3px;
display : inline;
}
p.multidelete {
padding-top : 15px;
padding-bottom : 5px;
}
div.postmsg p {
padding : 0;
}
div.blockform form , div.fakeform {
padding : 20px 20px 15px;
}
div.inform {
padding-bottom : 12px;
}
.pun fieldset {
padding : 0 12px;
}
div.infldset {
padding : 9px 0 12px 0;
}
.pun legend {
padding : 0 6px;
}
div.forminfo {
margin-bottom : 12px;
padding : 9px 10px;
}
ul.bblinks li {
padding-right : 20px;
}
ul.bblinks {
padding-bottom : 10px;
padding-left : 4px;
}
div.blockform p input {
margin-left : 12px;
}
div.icon {
float : left;
display : block;
width : 16px;
height : 16px;
}
div.searchposts div.icon {
margin-left : 0;
}
td div.tclcon {
margin-left : 2.3em;
}
code {
color: #f26522;
}
div.postmsg li {
color: #666;
}
div.spoilerbox p {
color: #dfe6ef;
}
div.spoilerbox p:hover {
color: #333;
}
img.postimg {
padding: 1px;
margin: 2px 5px;
border: 1px solid #496690;
background: #FFF;
}
div.postmsg a:hover img.postimg {
border: 1px solid #f26522;
}