BODY {BACKGROUND-COLOR: #FFF}
.pun {COLOR: #333}
DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #F1F1F1}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #F1F1F1}
TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #DEDFDF}
.pun H2, #brdmenu { BACKGROUND-COLOR: #003366; COLOR: #FFF;
background-image:url(../img/Oxygen2/water.gif) }
.pun TH {BACKGROUND-COLOR: #D1D1D1}
.pun LEGEND {COLOR: #003366}
.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #D1D1D1}
DIV.blockpost DIV.box, DIV.postright, DIV.postfootright {BACKGROUND-COLOR: #DEDFDF}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #f1f1f1}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #f1f1f1}
DIV.blockpost H2 {BACKGROUND-COLOR: #003366; COLOR: #FFF
background-image:url(../img/Oxygen2/water.gif)}
DIV.blockpost H2 SPAN.conr {COLOR: #003366; }
.pun HR {BACKGROUND-COLOR: #336699; COLOR: #336699}
DIV.box {BORDER-COLOR: #336699}
DIV.blockpost DIV.box {BORDER-COLOR: #003366 #003366 #003366}
.pun TD {BORDER-COLOR: #D1D1D1}
.pun TH {BORDER-COLOR: #D1D1D1}
.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #336699 #FFF #FFF #336699}
.pun DIV>FIELDSET {BORDER-COLOR: #003366}
.pun A:link, .pun A:visited {COLOR: #003366}
.pun A:hover {COLOR: #336699}
.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #FFF}
.pun H2 A:hover, #brdmenu A:hover {COLOR: #FFF}
LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}
DIV.icon {background:url(../img/Oxygen2/icon.gif)}
DIV.inew {background:url(../img/Oxygen2/icon_new.gif)}
TR.isticky DIV.icon {background:url(../img/Oxygen2/sticky.gif)}
TR.isticky DIV.inew {background:url(../img/Oxygen2/sticky_new.gif)}
TR.iclosed DIV.icon {background:url(../img/Oxygen2/closed.gif)}
TR.iredirect DIV.icon {background:url(../img/Oxygen2/redirect.gif)}
.pun p.postlink, #conr
{
TEXT-ALIGN: CENTER;
POSITION: RELATIVE;
TOP : 0px;
LEFT: 6px;
BORDER: #003366 1PX SOLID;
BACKGROUND-COLOR: #F1F1F1;
BACKGROUND-IMAGE: url(../img/Oxygen2/bg_button.gif);
filter: progid:DXImageTransform.Microsoft.shadow(direction=135,color=#666666,strength=2);
}