body {background-color: #FFF}
.pun {color: #333}
div.box, .pun blockquote, div.codebox, #adminconsole fieldset th, .rowodd, .roweven {background-color: #F1F1F1}
#adminconsole td, #adminconsole th {border-color: #F1F1F1}
td.tc2, td.tc3, td.tcmod, #postpreview, #viewprofile dd, div.forminfo,
#adminconsole fieldset td, div.blockmenu div.box, #adstats dd {background-color: #DEDFDF}
.pun h2, #brdmenu {background-color: #0066B9; color: #FFF}
.pun th {background-color: #D1D1D1}
.pun legend {color: #005CB1}
.pun div.blockmenu li.isactive a, #posterror li strong {color: #333}
div.blockpost div.box, div.postright, div.postfootright {background-color: #DEDFDF}
div.postright, div.postfootright {border-left-color: #f1f1f1}
div.postleft, div.postfootleft, div.blockpost label {background-color: #F1F1F1}
div.blockpost h2 {background-color: #006FC9}
div.blockpost h2 span.conr {color: #AABDCD}
.pun hr {background-color: #333; color: #333}
div.box {border-color: #0066B9}
div.blockpost div.box {border-color: #006fC9 #0066B9 #0066B9}
.pun td {border-color: #BBCEDE}
.pun th {border-color: #D1D1D1}
.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #ACA899 #FFF #FFF #ACA899}
.pun div>fieldset {border-color: #ACA899}
.pun a:link, .pun a:visited {color: #005CB1}
.pun a:hover {color: #B42000}
.pun h2 a:link, .pun h2 a:visited, #brdmenu a:link, #brdmenu a:visited {color: #FFF}
.pun h2 a:hover, #brdmenu a:hover {color: #FFF}
li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #B42000}
li.maintenancelink a:hover {color: #B42000}
div.icon {border-color: #E6E6E6 #DEDEDE #DADADA #E2E2E2}
tr.iredirect div.icon {border-color: #F1F1F1 #F1F1F1 #F1F1F1 #F1F1F1}
div.inew {border-color: #0080D7 #0065C0 #0058B3 #0072CA}
#brdmenu.inbox {
border-top:1px solid #F1F1F1;
border-bottom:1px solid #F1F1F1;
}
#brdwelcome.inbox {
border-top:1px solid #0066B9;
}
#brdtitle.inbox {
border-bottom:1px solid #0066B9;
}
code {
color: #B42000;
}
div.postmsg li {
color: #666;
}
div.spoilerbox p {
color: #F1F1F1;
}
div.spoilerbox p:hover {
color: #333;
}
img.postimg {
padding: 1px;
margin: 2px 5px;
border: 1px solid #0066B9;
background: #FFF;
}
div.postmsg a:hover img.postimg {
border: 1px solid #B42000;
}