BODY {BACKGROUND-COLOR: #FFF}
.pun {COLOR: #333}
DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #F7F7F7}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #F1F1F1}
TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, #adstats DD {BACKGROUND-COLOR: #F1F1F1}
.pun H2, #brdmenu {BACKGROUND-COLOR: #0066B9; COLOR: #FFF}
#brdtitle {BACKGROUND: url('../img/Oxygen_mod/head_box_right.gif') no-repeat right top;}
#brdheader .box { BACKGROUND: url('../img/Oxygen_mod/head_box_left.gif') #C7C7C7 no-repeat left top;}
#brdtitle {padding-left:0;padding-right:0;padding-bottom:0;}
#brdwelcome {background-color:#F7F7F7}
.pun TH {BACKGROUND-COLOR: #E1E1E1}
.pun LEGEND {COLOR: #005CB1}
.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #333}
DIV.postleft, DIV.postfootleft {border-right-color:#AAA}
DIV.postright, DIV.postfootright {border-left-color:#AAA}
DIV.postfootleft, DIV.postfootright {border-top-color:#AAA}
.roweven div.box {BACKGROUND-COLOR:#EEE}
DIV.blockpost H2 SPAN.conr {COLOR: #FFF}
DIV.block H2,DIV.blockpost H2, DIV.blockform H2, DIV.blocktable H2 { BACKGROUND: url('../img/Oxygen_mod/box-right.gif') no-repeat right top;}
#profile DIV.blockmenu H2 { BACKGROUND: url('../img/Oxygen_mod/small-box-right.gif') no-repeat right top;}
DIV.block, DIV.blockpost, DIV.blockform, DIV.blocktable, #profile DIV.blockmenu { BACKGROUND: url('../img/Oxygen_mod/box-left.gif') #315E8D no-repeat left top;}
#adminconsole DIV.blockform H2,#adminconsole DIV.blockform, #adminconsole DIV.block, #adminconsole DIV.block H2{
background-image:none;
}
#adminconsole DIV.blockform, #adminconsole DIV.block {
background-COLOR: #FFF;
}
#adminconsole DIV.blockform H2, #adminconsole DIV.block H2 {
background-COLOR: #006FC9;
}
.pun HR {BACKGROUND-COLOR: #BBB; COLOR: #BBB; }
DIV.box {BORDER-COLOR: #BBB}
DIV.blockpost DIV.box {BORDER-COLOR: #B6B7B7 #A1A2A2 #AFAFAF}
#postreview DIV.box { border-top:0;}
#postreview H2 { border-bottom:1px solid #224161;}
#msg DIV.box,DIV.blockmenu DIV.box, DIV.blockpost DIV.box, DIV.blockform DIV.box, DIV.blocktable DIV.box {
border-top:1px solid #224161;
border-right:1px solid #777;
border-left:1px solid #DDD;
border-bottom:1px solid #AAA;
}
.pun TD {BORDER-COLOR: #BBB}
.pun TH {BORDER-COLOR: #AAA}
.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #ACA899 #FFF #FFF #ACA899}
.pun DIV>FIELDSET {BORDER-COLOR: #AAA}
.pun A:link, .pun A:visited {COLOR: #005CB1}
.pun A:hover {COLOR: #B42000}
.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #FFF}
.pun H2 A:hover, #brdmenu A:hover {COLOR: #FFF}
LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}
div.icon {
border-top:0px;
border-left:0px;
border-right:0px;
border-bottom:0px;
border-width: 0px;
BACKGROUND: url('../img/Oxygen_mod/inactive.gif') no-repeat;
}
div.inew {BACKGROUND: url('../img/Oxygen_mod/active.gif') no-repeat;}
tr.isticky div.icon {BACKGROUND: url('../img/Oxygen_mod/inactive_sticky.gif') no-repeat;}
tr.isticky div.inew {BACKGROUND: url('../img/Oxygen_mod/active_sticky.gif') no-repeat;}
tr.iclosed div.icon {BACKGROUND: url('../img/Oxygen_mod/inactive_close.gif') no-repeat;}
tr.iclosed div.inew {BACKGROUND: url('../img/Oxygen_mod/active_close.gif') no-repeat;}
tr.iclosed.isticky div.icon {BACKGROUND: url('../img/Oxygen_mod/inactive_sticky_closed.gif') no-repeat;}
tr.iclosed.isticky div.inew {BACKGROUND: url('../img/Oxygen_mod/active_sticky_closed.gif') no-repeat;}
DIV.blockmenu DIV.inbox {PADDING: 3px 6px}
DIV.blockmenu LI {PADDING: 3px 0}
DIV.blockmenu LI {line-height: 1.4em}
DIV.blockmenu DIV.box, .blockmenu DIV.box .inbox {BACKGROUND-COLOR: #F1F1F1}
.blockmenu .box .inbox {PADDING: 0}
.blockmenu .box .inbox UL {PADDING: 0;}
.blockmenu li a {
display: block;
padding: 3px 0 3px 8px;
}
.blockmenu li a {
border-left: 1em solid #F1F1F1;
border-bottom: 1px solid #F1F1F1;
}
.blockmenu li a:hover {
border-bottom: 1px solid #CCC;
border-left: 1em solid #315E8D;
background: #e7e7e7;
}
#brdheader .box {
border-top:0;
border-left:0;
border-right:0;
}
#brdwelcome.inbox {
border-left:1px solid #bbb;
border-right:1px solid #bbb;
border-top:1px solid #bbb;
}
#brdmenu.inbox {margin:0 0;padding:0 0 0 0;}
#brdmenu ul {padding:0 0 0 0;margin:0 0;width:100%; float:left;}
#brdmenu ul li { display:inline;}
#brdmenu ul li a {padding:0.6em 6px; float:left;}
#brdmenu ul {
background-color: #315E8D;
color: White;
}
#brdmenu ul li a {
background-color: #315E8D;
color: White;
text-decoration: none;
}
#brdmenu ul li a:hover {
color: #fff;
background-color: #7b99bb;
text-decoration: none;
}
#brdmenu ul {
border-top:1px solid #7B99BB;
border-bottom:1px solid #BBB;
}
DIV.blockpost, .blocktable, .blockmenu, .block, .blockform {
border-bottom: 2px solid #eee;
}
DIV.postsignature {
font-size:80%;
}
.pun TH {
OVERFLOW: hidden;
}
code{color:#B42000}
div.postmsg li{color:#666}
IMG.postimg{padding:1px;margin:2px 5px;border:1px solid #0066B9;background:#FFF}
DIV.postmsg a:hover IMG.postimg{border:1px solid #B42000}