BODY {BACKGROUND-COLOR: #C7C7C7}
.pun {COLOR: #2B2B2B}
DIV.box, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #D5D5D5}
#main DIV.box, .blocktable DIV.box {BACKGROUND-COLOR: #DEDFDF}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #D5D5D5}
TD.tc1, TD.tc2, TD.tc3, TD.tcmod, #brdfooter DIV.box {BACKGROUND-COLOR: #BDBDBD}
#adminconsole FIELDSET TD, #viewprofile DD, DIV.forminfo, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #B7B7B7}
.pun BLOCKQUOTE, DIV.codebox {BACKGROUND-COLOR: #F0F0E5}
.pun H2 {BACKGROUND-COLOR: #A9A9A9; COLOR: #2B2B2B}
.pun TH, .bgc4 {BACKGROUND-COLOR: #B7B7B7}
.pun LEGEND {COLOR: #8E201B}
.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #2B2B2B}
.pun TEXTAREA, .pun INPUT, .pun SELECT {BACKGROUND-COLOR: #C7C7C7; COLOR: #2B2B2B}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #BDBDBD}
DIV.blockpost DIV.box, DIV.postright, DIV.postfootright, #postpreview {BACKGROUND-COLOR: #DEDFDF}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #BDBDBD}
#postpreview DIV.postfootleft, #postpreview DIV.postfootright {
BACKGROUND-COLOR: #DEDFDF;
BORDER-TOP: dotted 1px #A9A9A9}
DIV.blockpost H2 {BACKGROUND-COLOR: #A9A9A9}
DIV.blockpost H2 SPAN.conr {COLOR: #525252}
DIV.topiclabels {TEXT-ALIGN: right}
DIV.topiclabels A {TEXT-DECORATION: none}
.pun H2 span {
background-position : 0% 50%;
background-repeat : no-repeat;
background-image : url(../img/phc/bb.gif);
padding : 11px;
}
.pun H2 span.conr {
background-image : none;
padding : 0;
}
.pun HR {BACKGROUND-COLOR: #606060; COLOR: #606060}
DIV.box {BORDER-COLOR: #A9A9A9}
#brdtitle {color : #A0A0A0}
#brdtitle p {
MARGIN-LEFT: 80px;
margin-top: -30px;
border-top: solid 1px #8E201B;
letter-spacing: 4px;
PADDING-BOTTOM: 10px;
}
#brdtitle H1 {
BACKGROUND: url(../img/phc/logo63.png) no-repeat -3px 2px;
PADDING-LEFT: 78px;
PADDING-BOTTOM: 30px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-weight: bold;
FONT-SIZE: 35px;
PADDING-TOP: 10px;
letter-spacing: -3px;
}
.ban468 {
 padding: 0;
width: 468px;
height: 60px;
float: right;
margin-right: 5px;
margin-bottom: 5px;
border: solid 1px #8E201B;
background-color: #fff
}
#brdtitle .ban468 {
border: solid 1px #8E201B;
background-color: #000
}
#brdheader DIV.box {BACKGROUND: url('../img/phc/bigbg.jpg') repeat-x top right #7D7D7D;}
#brdmenu, #brdmenu2 {background: url('../img/phc/photo_menu_gray.gif') repeat-x top right #949494;}
DIV.blockpost DIV.box {BORDER-COLOR: #A9A9A9 #A19E96 #A19E96}
.pun TD {BORDER-COLOR: #A9A9A9}
.pun TH {BORDER-COLOR: #B7B7B7}
.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #606060}
.pun DIV>FIELDSET {BORDER-COLOR: #ACA899}
.pun A:link, .pun A:visited {COLOR: #8E201B}
.pun A:hover {COLOR: #ff8c00}
.pun H2 A:link, .pun H2 A:visited {COLOR: #000000}
.pun H2 A:hover {COLOR: #8E201B}
#brdmenu A:link, #brdmenu A:visited {COLOR: #FFFFFF; FONT-SIZE: 1.1em; FONT-VARIANT: small-caps}
#brdmenu A:hover {COLOR: #ff8c00}
LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #FF4000}
LI.maintenancelink A:hover {COLOR: #FF5010}
DIV.icon {BORDER-COLOR: #BFBFBF #B7B7B7 #BBBBBB #C3C3C3}
TR.iredirect DIV.icon {BORDER-COLOR: #D5D5D5 #D5D5D5 #D5D5D5 #D5D5D5}
DIV.inew {BORDER-COLOR: #AF5454 #8E201B #984949 #B65957}
TD DIV.tclcon {MARGIN-LEFT: 2.3em}