BODY {
background-image: url(../img/Quicktime/bg.gif); background-repeat: repeat-x;
background-color: #b7bcc3; color: #000;
}
.pun {COLOR: #000;background-image: url(../img/Quicktime/bg.gif);
 background-position: 0px -35px;
background-repeat: repeat-x; background-color: #b7bcc3;}
DIV.box { color:#000; }
DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #e8e8e8}
#adminconsole TD, #adminconsole TH {border:#E8E8E8}
TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #e8e8e8}
.pun H2{
 background: #3b424a url(../img/Quicktime/h2_bg.gif) repeat-x ; COLOR: #fff; border-left: #525252; border-right: #525252; font-weight: bold;
}
.pun TH {BACKGROUND-COLOR: #e8e8e8;}
.pun LEGEND {COLOR: #000000; font-weight: bold}
.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #0066cc}
.pun h1 {color: #000; letter-spacing: 0.2em;}
#brdtitle {}
#brdwelcome {color:#000;}
#brdmenu {background: #fff url(../img/Quicktime/bar.gif) repeat-x; COLOR: #fff; text-align:center; height: 17px}
#brdmenu A:hover {background: #fff url(../img/Quicktime/bar_a.gif) repeat-x; COLOR: #fff; text-align:center;}
#brdheader .box #brdtitle{background: #fff url(../img/Quicktime/top_bar.gif) repeat-x top left; }
#brdheader .box #brdwelcome{background: #fff url(../img/Quicktime/menu_btm.gif) repeat-x bottom left;}
DIV.blockpost DIV.box, DIV.postright, DIV.postfootright {BACKGROUND-COLOR: #fff}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #fff}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #fff}
DIV.blockpost H2 {BACKGROUND-COLOR: #fff}
DIV.blockpost H2 SPAN.conr {COLOR: #fff}
.pun HR {BACKGROUND-COLOR: #666666; COLOR: #000}
DIV.box {BORDER-COLOR: #a1a1a1}
DIV.blockpost DIV.box {BORDER-COLOR: #ccc; border-zise: 1px; border-style: dashed; border-right: 0px; border-left: 0px}
.pun TD {border-color: #e8e8e8}
.pun TH {border-color: #e8e8e8}
.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER: 1px dotted #999999; background-color: #f8f8f8}
.pun DIV>FIELDSET {border-color: #ACA899}
.pun A:link, .pun A:visited {COLOR: #003366; text-decoration: none}
.pun A:hover {COLOR: #0066cc}
.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #FFF; }
.pun H2 A:hover, #brdmenu A:hover {COLOR: #7FBCFF}
LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #000}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #000}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}
TR.inew Div.icon { background-image: url(../img/Quicktime/icon_new.gif);}
TR.isticky DIV.icon { background-image: url(../img/Quicktime/icon_sticky.gif);}
TR.isticky DIV.inew { background-image: url(../img/Quicktime/icon_sticky.gif);}
Div.icon {background-image: url(../img/Quicktime/icon_normal.gif);}
TR.iredirect DIV.icon { background-image: url(../img/Quicktime/icon_redirect.gif);}
TR.iclosed Div.icon {background-image: url(../img/Quicktime/icon_closed.gif);}
h2 span {background:url(../img/Quicktime/h2_icon.gif); margin-top: -5px}
h2 span .conr {background:none;}
.pun span.byuser {
background-position : left;
background-repeat : no-repeat;
background-image : url(../img/Quicktime/icon_post.gif);
padding: 0px 14px 1px;
}