.calendar_no {background-color: #000}
.calendar_day{background-color: #666666}

/****************************************************************/
/* 1. BACKGROUND AND TEXT COLOURS */
/****************************************************************/

/* 1.1 Default background colour and text colour */

body {background-color: #2A2A2A}

.pun {color: #D4D4D4}

div.box,  #adminconsole fieldset th, .rowodd, .roweven {background-color: #383838}
#adminconsole td, #adminconsole th {border-color: #383838}

/* 1. 2 Darker background colours */

td.tc2, td.tc3, td.tcmod, #brdfooter div.box {background-color: #424242}
#adminconsole fieldset td, #viewprofile dd, div.forminfo, div.blockmenu div.box, #adstats dd {background-color: #484848}

.pun blockquote, div.codebox {background-color: #353533}

/* 1.3 Main headers and navigation bar background and text colour */

.pun h2, #brdmenu {background-color: #565656; color: #D4D4D4}

/* 1.4 Table header rows */

.pun th, .bgc4 {background-color: #484848}

/* 1.5 Fieldset legend text colour */

.pun legend {color: #60A0DC}

/* 1.6 Highlighted text for various items */

.pun div.blockmenu li.isactive a, #posterror li strong {color: #D4D4D4}

/* 1.7 Dark background for form elements */

.pun textarea, .pun input, .pun select {background-color: #2A2A2A; color: #D4D4D4}

/****************************************************************/
/* 2. POST BACKGROUNDS AND TEXT */
/****************************************************************/

/* 2.1 This is the setup for posts. */

div.blockpost div.box, div.postright, div.postfootright, #postpreview {background-color: #383838}
div.postright, div.postfootright {border-left-color: #424242}
div.postleft, div.postfootleft, div.blockpost label {background-color: #424242}

/* 2.2 Background for post headers and text colour for post numbers in viewtopic */

div.blockpost h2 {background-color: #565656}
div.blockpost h2 span.conr {color: #A19E96}

/* 2.3 This is the line above the signature in posts. Colour and background should be the same */

.pun hr {background-color: #606060; color: #606060}

/****************************************************************/
/* 3. BORDER COLOURS */
/****************************************************************/

/* 3.1 All external borders (H1 is the board title) */

div.box {border-color: #565656}

/* 3.2 Makes the top border of posts match the colour used for post headers */

div.blockpost div.box {border-color: #565656 #525252 #525252}

/* 3.3 Table internal borders. By default TH is same as background so border is invisible */

.pun td {border-color: #000;
/*background:url(../../img/rc3/redbar1.jpg)
no-repeat;*/
}
.pun th {border-color: #000;
background:url(../img/rc3/redbar.gif)

}

/* 3.4 Creates the inset border for quote boxes, code boxes and form info boxes */

.pun blockquote, div.codebox, div.forminfo, div.blockpost label {border-color: #606060}

/* 3.5 Gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with IE's rather nice default */

.pun div>fieldset {border-color: #ACA899}

/****************************************************************/
/* 4. LINK COLOURS */
/****************************************************************/

/* 4.1 This is the default for all links */

.pun a:link, .pun a:visited {color: #60A0DC}
.pun a:hover {color: #80D6FF}

/* 4.2 This is the colour for links in header rows and the navigation bar */

.pun h2 a:link, .pun h2 a:visited {color: #D4D4D4}
.pun h2 a:hover {color: #D4D4D4}

/* 4.3 This is for closed topics and "hot" links */

li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #888}
li.postreport a:hover, tr.iclosed td.tcl a:hover {color: #AAA}
li.maintenancelink a:link, li.maintenancelink a:visited {color: #FF4000}
li.maintenancelink a:hover {color: #FF5010}

/****************************************************************/
/* 5. POST STATUS INDICATORS */
/****************************************************************/

/* These are the post status indicators which appear at the left of some tables. 
.inew = new posts, .iredirect = redirect forums, .iclosed = closed topics and
.isticky = sticky topics. The default is "icon". By default only .inew is different.*/

*div.icon {background:url(../img/rc3/hot.gif)}
div.inew {background:url(../img/rc3/new.gif)}
div.inew {border-color: #5496D8 #4B85C0 #4377AC #4F8DCB}
tr.isticky div.icon {background:url(../img/rc3/sticky.gif)}
tr.isticky div.inew {background:url(../img/rc3/sticky_new.gif)}
tr.iclosed div.icon {background:url(../img/rc3/closed.gif)}
/****************************************************************/
/* 6. ADDED IN STUFF */
/****************************************************************/
/* backgrounds images */
html, body {background-color: #000;
background:url(../img/rc3/bg1.gif);

background-repeat:repeat-y;
}
#brdmenu { background:url(../img/rc3/redbar.gif);
background-repeat:  repeat-x;}
/*#punwrap{background:url(../../img/rc3/bg_top3.gif)
repeat-y}*/
/*.pun{background:url()}*/
#brdtitle {background:url(../img/rc3/logo.jpg)}
#brdmenu li {background:url(../img/rc3/pip.gif) no-repeat;}
h2{background:url(../img/rc3/redbar1.jpg)}
h2 span {background:url(../img/rc3/pip.gif) no-repeat;}
h2 span .conr {background:none;}
/*div#footextra{color:#555;}*/
div#brdfooter {
/*background: url(../img/rc3/bg_copy.gif) no-repeat;*/
}
/* the scroll bars*/
html, body{
	scrollbar-arrow-color:  #D4D4D4;
	scrollbar-face-color: #111111;
	scrollbar-track-color: #3a3a3a;
	scrollbar-highlight-color: #222222;
	scrollbar-shadow-color: #000000;
	scrollbar-3dlight-color: #333333;
	scrollbar-darkshadow-color: #000000;
}

/*****************************
    post STATUS Offline 
******************************/
.pun div.postfootleft p {
padding : 0; 
font-style : normal; 
font-weight : normal; /* text style */
color : #fafafa; 
text-indent : 25px; /* text position */
display : block; 
height : 15px; /* icon size */
background-image : url(../img/rc3/offline.gif);
background-repeat : no-repeat; 
background-position : 5px 50%; /* icon position */ 
}

.pun div.postfootleft p strong {
font-style : normal; 
font-weight : bold; /* text style */
color : #fafafa; 
text-indent : 25px; /* text posistion here */
display : block; 
height : 16px;  /* icon size */
background-image : url(../img/rc3/online.gif);
background-repeat : no-repeat; 
background-position : 5px 50%;  /* icon position */
}
/*.pun span.byuser
{
 your icon and position */
/*background-repeat: no-repeat;
background-image: url(../../img/rc3/icon_post.gif);
background-position: left;
 
 your text position 
padding: 0px 25px 0px;
}
td.tcr a {
  background: transparent url(../../img/rc3/icon_post.gif) 0px 1px no-repeat;
  padding: 0px 25px 0px;
}*/
