body{margin:0 auto;max-width:640px; background:#000;color:#fff;font-family:Lucida Grande,Verdana,Arial,Helvetica,sans-serif;font-size:12px}
img{vertical-align:middle;margin:0;padding:0;border:0}
form{width:100%;margin:0;padding:0}
a:link,a:active,a:visited{color:#F90;text-decoration:none;border:1px solid transparent;padding:1px}
a:hover{text-decoration:none;color:#ff0;background:#900;border:1px solid #f90;padding:1px;position:relative;top:1px}

.hd, .incqbox, .inbox{font-size:8pt;background:url(xwab/fon_red.gif)repeat-x;background:#900; color:#fff;margin:3px 0;border:1px solid #c30;border-radius:6px;padding:5px}

.con, .cat, .go_to, .info{color:#fff;background:#900 url(xwab/fon_red_con.gif) repeat-x;margin-bottom:1px;border-bottom:3px double#600; border-left:3px double#c00; border-top:3px double#c00; border-right:3px double#600;border-radius:6px;padding:5px}
.sp_cat{font-weight:bold}

.in, .in2, .box, .box2, .hd_bott, .navlinks, .msg, .input, .act{border:1px solid #c30;border-radius:6px;margin:1px;padding:5px}

.msg2, .input2{background:#600;border:1px solid #c30;margin:1px;border-radius:6px;padding:5px}

.zag_in{min-height:60px}
.zag_in img{margin-right:4px;float:left}

.bbu{text-decoration:underline}
.bbs{text-decoration:line-through}

.red{color:#d00}
.green{color:#0fff0f}
.grey{color:#b40000}
.small{color:#ccc;font-size:smaller}
div#warning {color:#b00; font-weight:bold}

a.but{color:#903; border:1px solid #903; background:#fc6; padding:0 2px; line-height:1.5}

.attach_list{border-top:1px solid #fff;margin:6px 0 8px}
.quote, .quote .quote .quote{color:#aaa;font-size:smaller;font-style:italic;border:1px dashed #777;background:#222;padding:4px;margin-top:2pt;border-radius:2pt}
.quote .quote, .quote .quote .quote .quote{background:black}

hr{border:1px dotted #c00}
.hr{font-weight:bold;font-size:7pt;padding-top:2px;width:50%;border-top:1px dashed gray;margin:5px 3px 0}

code{font-size:9pt;display:block;line-height:2; border:1px dashed #c30;width:95%;padding:2px 4px;margin-top:4px}
.code{color:#f90;font-style:normal;text-indent:8px;background:#444;padding-left:4px;margin-top:2pt;border:1px solid #222;border-radius:2pt}
.scrollbox{overflow:auto;white-space:pre;font-size:xx-small;margin-top:2pt}
table, td, tr, th{width:100%;margin:0;padding:0;border:0;text-align:left}
.p_cnt{font-size:9pt;color:#be012c;background:#faf8f2;border:1px solid #eed;width:99%;border-radius:2pt;margin-left:4px}
.p_cnt span{color:#039}
.p_cnt:hover{box-shadow:-1pt 1pt 3pt #000}

.foot{float:left;font-size:smaller}
.copy{float:right;color:#333;font-size:smaller}